* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  background-color: white;
  color: #0d1a63;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0,1);
}

h1{
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 10px;
  margin-top: 20px;
}

p{
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #0077cc;
}

a:hover {
  color: #005fa3
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #0077cc;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

input, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 19;
}

button {
  padding: 10px;
  background-color: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

.header {
  text-align: center;
  margin-bottom: 30px;
  background-color: white;
  color: #0d1a63;
}

.me {
  text-align: center;
  margin-bottom: 30px;
  background-color: white;
  color: #0d1a63;
}

.education {
  text-align: center;
  margin-bottom: 30px;
  background-color: white;
  color: #0d1a63;
  border-radius: 8px;
}

.contact {
  background-color: white;
  color: #0d1a63;
  padding: 20px;
  margin-bottom: 20px;
}

.dark-mode {
  background-color: #226;
  color: white;
}

.hidden {
  display: none;
}

body.dark-mode .card {
  background-color: #228;
  color: white;
}

body.dark-mode .me {
  background-color: #228;
  color: white;
}

body.dark-mode .education {
  background-color: #228;
  color: white;
}

body.dark-mode .contact {
  background-color: #228;
  color: white;
}

body.dark-mode .header {
  background-color: #228;
  color: white;
}